<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>PAIrPRO</title>
  <base href="/"></base>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>

  <!-- CodeMirror and its JavaScript mode file -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/mode/javascript/javascript.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.2.0/codemirror.css" />

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="bower_components/animate.css/animate.min.css">
  <link href="css/materialize.min.css" rel="stylesheet"/>
  <link href="css/style.css" rel="stylesheet" />
  <!-- Firepad -->
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.3.0/firepad.css" />
  <script src="https://cdn.firebase.com/libs/firepad/1.3.0/firepad.min.js"></script>

  <link rel="stylesheet" href="css/code-mirror-theme.css" />

</head>
<body username="<%= session[:username] %>">
  <header>

    <div class="navbar-fixed">
      <nav style="box-shadow: 2px 2px #eee;">
          <div class="nav-wrapper blue lighten-2">
            <a href="/" class="brand-logo center">PAIrPRO</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <% if session[:username] != nil %>
                <li><a href="/">Home</a></li>
                <li><a href="/">Sessions</a></li>
                <li><a href="/logout">Logout</a></li>
              <% else %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
              <% end %>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <% if session[:username] != nil %>
                <li><a href="/">Home</a></li>
                <li><a href="/">Sessions</a></li>
                <li><a href="/logout">Logout</a></li>
              <% else %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
              <% end %>
            </ul>
          </div>
        </nav>    
      </div>

  </header>    

  <div class="row" style="padding-bottom: 70px">
    <%= styled_flash %>

    <%= yield %>
  </div>

  <footer class="page-footer blue lighten-2" style="">
    <div class="footer-copyright blue lighten-2">
      <div class="container blue lighten-2">
      Made by <a class="white-text text-lighten-2" href="https://github.com/sheyooo">Sheyi</a>
      </div>
    </div>
  </footer>



  <!--  Scripts-->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
  <script src="js/materialize.min.js"></script>
  <script src="js/init.js"></script>
  <script src="js/chat.js"></script>
  </body>
</html>
