<div class="row">
  <div class="col s12 m4 offset-l4 offset-m4">
    <div class="card login-card animated fadeIn">
      <div class="card-content">
      <h5 class="center">Login</h5>
        <form action="login" method="post">
          <div class="">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" required>
          </div>
          <div class="">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" required>
          </div>
          
          <button type="submit" class="btn btn-default animated pulse infinite">
            <i class="material-icons right">send</i>
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
