    <div class="col s12">
      <h4 class="center">
        Coding Session - <em style="text-transform: uppercase"><%= params["id"] %></em> 
        <span class="label-live new badge" style="position: relative; left: 10px"></span>
      </h4> 
    </div>
    <div class="col s0 m3 hde-on-med-and-down">
      <div class="chat-container card" id="chatDiv" session-id="<%= params['id'] %>">
        <div class="card-content">
          <div class="messages">
            <div class="card-title">
              <span>Chat in <b><%= @id %></b></span>
            </div>
            <div id="messagesContainer">
               <!-- messages go in here -->
            </div>            
          </div>
          
          <br>
          <br>
          <input placeholder="Type your message..." type="text" id="messageInput">
          <button class="btn btn-primary" id="sendChatBtn">Send</button>
        </div>
      </div>   
    </div>
    <div class="col s12 m9">
      <div class="row">
      
        <div class="col s12" >
          <div class="card">
            <div id="firepad-container" style="height: 100%"></div>
          </div>

          <script>
            function init() {
              //// Initialize Firebase.
              // TODO: Replace above line with:
               var firepadRef = new Firebase('https://pair-pro.firebaseio.com/sessions/<%= @id %>');
              //// Create CodeMirror (with line numbers and the JavaScript mode).
              var codeMirror = CodeMirror(document.getElementById('firepad-container'), {
                lineNumbers: true,
                mode: 'javascript'
              });
              //// Create Firepad.
              var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
                defaultText: '// Powerful pair programming with PairPro\nfunction \n// Share this url with anybody to pair code \nfunction go() {\n  var message = "Hello, world. My name is PairPro";\n  console.log(message);\n}'
              });
            }
            init();
          </script>
        </div>
      </div>

    </div>
